OPENAI_API_KEY=your-openai-api-key-here
OPENAI_MODEL=gpt-4o-mini
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGSMITH_PROJECT=your-langsmith-project-name-here
MONGODB_URI=your-mongodb-uri-here
DATABASE_URL=your-database-url-here
PATHWAY_API_URL=http://pathway-reports-api:8000
API_PORT=8001
# UPSTASH_REDIS_URL=your-upstash-redis-url-here Use this line if online redis database is needed