# Kafka Configuration
KAFKA_BROKER=localhost:9023

# Stock Symbols (must match order with COMPANY_NAMES)
STOCKS=AAPL
COMPANY_NAMES=amazon

FINNHUB_API_KEY=YOUR_FINNHUB_API_KEY

# NewsAPI
NEWS_API_KEY=YOUR_NEWS_API_KEY

# Reddit API Credentials
REDDIT_CLIENT_ID=YOUR_REDDIT_CLIENT_ID
REDDIT_CLIENT_SECRET=YOUR_REDDIT_CLIENT_SECRET
REDDIT_USER_AGENT=pathway-news-agent:v1.0 (by u/YOUR_REDDIT_USERNAME)

# Reddit Configuration
REDDIT_SUBREDDITS=wallstreetbets
REDDIT_COMMENT_LIMIT=2
REDDIT_SEARCH_LIMIT=5

FUNDAMENTAL_REPORT_INTERVAL=5184000

# SEC Filings Configuration
SEC_FILINGS_LIMIT=2
SEC_FILINGS_FROM_DATE=
SEC_FILINGS_TO_DATE=
KNOWLEDGE_BASE_DIR=../knowledge_base
SEC_API=YOUR_SEC_API_KEY


# Fetch Intervals (in seconds)
MARKET_DATA_INTERVAL=45
NEWS_DATA_INTERVAL=1000
SENTIMENT_DATA_INTERVAL=1000

# Candle Producer Configuration (for backtesting)
CANDLE_SYMBOL=AAPL
CANDLE_INTERVAL=1h
CANDLE_PERIOD=1mo
CANDLE_KAFKA_TOPIC=candles
CANDLE_POLL_INTERVAL=60
CANDLE_CSV_PATH=./data/candles.csv
CANDLE_NO_BACKFILL=false

FMP_API_KEY=YOUR_FMP_API_KEY
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
OPENAI_API_KEY="YOUR_OPENAI_API_KEY-same as operouter key"
OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_EMBED_MODEL=text-embedding-3-small
VISION_AGENT_API_KEY="YOUR_VISION_AGENT_API_KEY(Landing ai)"

TWITTER_API_KEY="YOUR_TWITTER_API_KEY(twitterapi.io)"
TWITTER_WEBHOOK_URL="https://webhook.animexdev.com"
TWITTER_CHECK_INTERVAL=60
WEBHOOK_RECEIVER_URL=http://host.docker.internal:5001
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=5001

UNSTRUCTURED_API_KEY=key

SERPEX_API_KEY=key